<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quiz</title>
    </head>
    <body>

        <div ng-app="QuizSystem">

            <div ng-controller="Questions as ctrl" ng-if="!answers">
                <form>
                    <div>
                        <h2>Question {{ctrl.question.id}} of {{ctrl.questions.length}}</h2>
                        <p>{{ctrl.question.q}}</p>
                        <ol>
                            <li ng-repeat="val in ctrl.ansValues">
                                <input type="radio" id="q_{{ctrl.question.id}}_{{val.val}}" name="q_{{ctrl.question.id}}" ng-model="ctrl.answers[ctrl.question.id]" value="{{val.val}}">
                                <label for="q_{{ctrl.question.id}}_{{val.val}}">{{val.text}}</label>
                            </li>
                        </ol>
                    </div>
                    <button type="button" ng-click="ctrl.changeQuestion(-1)" ng-if="!ctrl.isFirst()">Previous</button>
                    <button type="submit" ng-click="ctrl.changeQuestion(+1)" ng-if="!ctrl.isLast()">Next</button>
                    <button type="submit" ng-click="ctrl.submitData()" ng-if="ctrl.isLast()">Submit</button>
                </form>
            </div>

            <div ng-controller="Results as ctrl" ng-if="answers">
                <h1>Thanks for taking the quiz!</h1>
                <p>You {{ctrl.result()}}</p>
            </div>

        </div>

        <script src="js/dist/app.js"></script>
    </body>
</html>
